body {
  background-color: white;
}

h1 {
  font-family: serif;
  color: blue;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  float: left;
}

h4 {
  font-family: sans-serif;
}

form {
  border: 1px solid black;
  font-family: sans-serif;
  color: black;
  padding: 7px;
}

nav {
  list-style: none;
  display: inline-block;
  background-color: lightgrey;
  color: black;
  align-content: center;
}

ul {
  list-style: none;
  display: inline-block;
  background-color: lightgrey;
}

li {
  list-style: none;
  display: inline-block;
  background-color: lightgrey;
  float: left;
}

#special-items {
  display: inline-block;
}

#menu-items {
  display: inline-block;
}

#order-history {
  display: inline-block;
}

.special-items {
  display: inline-block;
}

.menu-items {
  display: inline-block;
}

.order-history {
  display: inline-block;
}

.profile {
  float: right;
  font-family: sans-serif;
  padding-right: 5px;
}
